.App {
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  display: flex;
  padding: 1em;
  min-width: 40vh;
  background-color: #fff;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 1px 1px 5px;
}

/* Colors */

.yellow {
  background: rgb(158, 158, 3);
}

.green {
  background: green;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}
